<!--
~ *********************************************************************
~ Created by Ghous Khan on 2020-02-19.
~ Innovative Quest Ltd
~ Copyright (C) Innovative Quest Ltd All Rights Reserved
~ Any copying or reproduction of this software in strictly prohibited.
~ *********************************************************************
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.innovativequest.sky_go_test_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <application tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".testing.SingleFragmentActivity"></activity>
    </application>

</manifest>